@import "tailwindcss";

body {
  font-family: var(--font-outfit);
}

/* custom scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(148, 163, 184, 0.9) transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #22d3ee, #6366f1);
  border-radius: 999px;
}
